/* Put your CSS here */
html, body {
	height: 100%;
}
* {
	margin: 0;
}
#wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
    margin:  0 auto -51px;
	}
.push {
	height: 50px;
}

.status{
	.alert{
		display: none;
	}
}
body{
	background: url(/theme/img/signin/login-bg.png);
}

.top-buffer{
    margin-top: 20px;
}

#ads-data {
	display: none;
}