._header{
  	@include background(linear-gradient(to bottom, #3D3D3D, #454545));
	@include border-radius(0 0 10px 10px);
	.logo{
		position: relative;
    	top: 18px;
	    padding-left: 10px;
		};
	.logo-txt{
	    font-size: 27px;
	    line-height: 26px;
	    position: relative;
	    top: 20px;
	    font-family:'Josefin Sans', Helvetica, Arial, sans-serif;
	    color:white;
	};
	.nav{
	    padding-top: 35px;
	    li{
			.active, .active:hover{
				background-color: #F54D70;
					color: white;
		    		i{
		    		  color: white;
		    		 };
				};
	     	a:hover{
		    	color:black;
		    		i{
		    		  color: #F54D70;
		    		 };
		   		 };
		  };
		};
	a, a:hover .active{
		color: white;
	};
	ul{
		position: relative;
    	top: 21px;
	};
}