

.worker {
	.worker-container {
		margin-top: 0 !important;
	}
	.avatar-container {
		height: 250px;
		width: 150px;

		.avatar-name {
		    background: #1D354D;
		    height: 100px;
		    position: relative;
		    width: 100%;
		    h5 {
			    	bottom: 0;
				    color: white !important;
				    font-family: 'Open Sans Condensed',sans-serif;
				    font-size: 35px;
				    line-height: 35px;
				    margin: 0 0 0 5px;
				    max-height: 100%;
				    position: absolute;
				}
		}

		.avatar-image {
			height: 150px;
			width: 150px;
		}
	}

	.content {
		.row {
			margin-bottom: 15px;
		}
	}

	.description {
		font-size: 15px;
		margin-bottom: 20px;
	}

	.left-info {
		color: #888888;
    	font-size: 12px;
	}

	.right-info {
		font-size: 15px;
	}
}