<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nerdeez - Teaching to program the right way</title>

        <!-- begin global variables -->
        <script type="text/javascript">
            var STATIC_URL = '{{STATIC_URL}}';
            var SERVER_URL = '{{SERVER_URL}}';
        </script>
        <!-- end global variables -->

        <!-- build:theme scripts and styles -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
        
        <!-- Added this font for worker page -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="{{STATIC_URL}}app/theme/css/font-awesome.css">
        
        <link rel="stylesheet" href="{{STATIC_URL}}app/theme/css/bootstrap.css">
        <link rel="stylesheet" href="{{STATIC_URL}}app/theme/css/bootstrap-responsive.css">

        <link rel="stylesheet" href="{{STATIC_URL}}app/theme/css/ui-lightness/jquery-ui-1.8.21.custom.css">   
        
        <link rel="stylesheet" href="{{STATIC_URL}}app/theme/css/application.css">
        <link rel="stylesheet" href="{{STATIC_URL}}app/theme/css/pages/dashboard.css">

        <script src="{{STATIC_URL}}app/theme/js/libs/modernizr-2.5.3.min.js"></script>
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="{{STATIC_URL}}.tmp/styles/style.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="{{STATIC_URL}}app/styles/jquery-styles/validationEngine.jquery.css">
        <link rel="stylesheet" href="{{STATIC_URL}}app/styles/jquery-styles/slidorion/slidorion.css">
        <!-- endbuild -->

        <!-- Fonts: Goudy+Bookletter+1911, Raleway,Dancing+Script,Josefin+Sans-->
        <link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
        <!-- endbuild -->

	</head>
	<body>
		    
		<div id="wrap">
		</div>
		        
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <ul>
                            <li class="span1"><a href="index.html">Home</a></li>
                            <li class="span1"><a href="#">About</a></li>
                            <li class="span1"><a href="/#/contact">Contact Us</a></li>
                            <li class="span1"><a href="#">Articles</a></li>
                            <li class="span1"><a href="#">Gallery</a></li>
                        </ul>
                    </div>
                    <div class="nerdeez-copyright span2 pull-right">
                        Nerdeez &#169; 2013
                    </div>
                </div>
            </div>
        </div>

        <!-- build:js scripts/components.js -->
        <script src="{{STATIC_URL}}app/bower_components/jquery/jquery.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/handlebars/handlebars.runtime.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/ember/ember.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/ember-data-shim/ember-data.js"></script>
        <!-- endbuild -->

        <!-- JQuery slidorion -->
        <script src="{{STATIC_URL}}app/bower_components/jquery/jquery.easing.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}app/bower_components/jquery/jquery.slidorion.min.js"></script>
        <!-- endbuild -->

        <!-- build:js(.tmp) scripts/templates.js -->
        <script src="{{STATIC_URL}}.tmp/scripts/compiled-templates.js"></script>
        <!-- endbuild -->

        <!-- build:js(.tmp) scripts/main.js -->
        <script src="{{STATIC_URL}}.tmp/scripts/combined-scripts.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-affix.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-alert.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-dropdown.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-tooltip.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-modal.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-transition.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-button.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-popover.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-typeahead.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-carousel.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-scrollspy.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-collapse.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-tab.js"></script>
        <!-- endbuild -->

        <!-- build:theme scripts -->
        <script src="{{STATIC_URL}}app/theme/js/libs/jquery-ui-1.8.21.custom.min.js"></script>
        <script src="{{STATIC_URL}}app/theme/js/libs/jquery.ui.touch-punch.min.js"></script>

        <script src="{{STATIC_URL}}app/theme/js/libs/bootstrap/bootstrap.min.js"></script>

        <script src="{{STATIC_URL}}app/theme/js/Theme.js"></script>
        <script src="{{STATIC_URL}}app/theme/js/Charts.js"></script>

        <script src="{{STATIC_URL}}app/theme/js/plugins/excanvas/excanvas.min.js"></script>
        <script src="{{STATIC_URL}}app/theme/js/plugins/flot/jquery.flot.js"></script>
        <script src="{{STATIC_URL}}app/theme/js/plugins/flot/jquery.flot.pie.js"></script>
        <script src="{{STATIC_URL}}app/theme/js/plugins/flot/jquery.flot.orderBars.js"></script>
        <script src="{{STATIC_URL}}app/theme/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script src="{{STATIC_URL}}app/theme/js/plugins/flot/jquery.flot.resize.js"></script>



        <script src="{{STATIC_URL}}app/theme/js/demos/charts/line.js"></script>
        <script src="{{STATIC_URL}}app/theme/js/demos/charts/donut.js"></script>



        <script>

        $(function () {
            
            Theme.init ();
            
        });

        </script>
        <!-- validation plugin -->
        <script src="{{STATIC_URL}}app/jquery/jquery.validationEngine-en.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{STATIC_URL}}app/jquery/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
        
        <!-- endbuild -->
</body>
</html>