
<div class='_header'>
	
	<div class='row'>
		<div class="span2">
			<div class='logo'>
				<a href="#"><img src='imgs/logo.png'></a>
			</div>
		</div>
		<div class="span3">
			<div class='logo-txt'>
				<p>Teaching to program the right way</p>
			</div>
		</div>
		<div class='span7'>
			<ul class="nav nav-pills pull-right tobottom">
			    <li>{{#linkTo 'index'}}<i class="icon-home icon-large"></i> Home{{/linkTo}}</li>
			    <li><a href="#"><i class="icon-info icon-large"></i> About</a></li>
			    <li>{{#linkTo 'contact'}}<i class="icon-phone icon-large"></i> Contact Us{{/linkTo}}</li>
			    <li><a href="#"><i class="icon-pencil icon-large"></i> Articles</a></li>
			    <li><a href="#"><i class="icon-picture icon-large"></i> Gallery</a></li>
			</ul>
		</div>
	</div>
</div>
