
<div class='_header'>
	<div class='row'>
		<div class="span8 offset3 headbox">

			<div class="navbar">

			  <a class="navbar-brand" href="#"><img src='imgs/logo.png'></a>
			  <p class="navbar-text">Signed in as Mark Otto</p>
			  <ul class="nav navbar-nav pull-right">
			    <li class="active"><a href="#">Home</a></li>
			    <li><a href="#">Link</a></li>
			    <li><a href="#">Link</a></li>
			  </ul>

			</div>

		</div>
	</div>
</div>
