
<div class="contact">
	<form id='formID' {{action "saveto" on="submit" target="view"}}>
		<div>
	    {{
		    view Ember.TextField
		    valueBinding="email"
		    class="validate[custom[email]]"
		    placeholder="Enter Email Address"
		    required="true"
		}}
		</div>
		<div>
	    {{
	    	view Ember.TextArea
	    	valueBinding="txt"
	    	class="validate[required]"
	    	placeholder="Enter Text"
	    	required="true"
	    }}
		</div>
	     <button type="submit">Save</button>
	</form>
</div>
	<div class="status">
			{{status statusval}}
	</div>
