
<div class="contact">
	<form id='formID' {{action save on="submit"}}>
	    {{view Ember.TextField valueBinding="email" class="validate[custom[email]]" placeholder="Enter Email Address" required="true"}}
	    <br />
	    {{
	    	view Ember.TextArea
	    	valueBinding="txt"
	    	class="validate[required]"
	    	placeholder="Enter Text"
	    	required="true"
	    }}
	    <br />
	     <button type="submit">Save</button>
	</form>

	<script>
	$(document).ready(function(){
        	$("#formID").validationEngine('attach');
       });
	</script>
</div>
