
<div class="_contact row">
	<div class="account-container login stacked">
		<div class="content clearfix">
			<form class="validate" {{action "saveto" on="submit" target="view"}}>
				<h1>Contact Us</h1>
				<div class="login-fields">
					<div class="field">
					    {{
						    view Ember.TextField
						    valueBinding="email"
						    class="validate[custom[email]]"
						    placeholder="Enter Email Address"
						    required="true"
						}}
					</div>
					<div class="field">
					    {{
					    	view Ember.TextArea
					    	valueBinding="txt"
					    	class="validate[required]"
					    	placeholder="Enter Text"
					    	required="true"
					    }}
					</div>
				</div>
				<div class="login-actions">
			    	<button type="submit" class="button btn btn-primary btn-large">Send</button>
				</div>
			</form>

		{{status}}

		</div>
	</div>
</div>