<!--

Holds the html of the gallery
author: Doron Nachshon
copyright: nerdeez.com
version: 1.0

-->

<div class="gallery">
    <div id="ads-data">
       	<div class="barousel_image">
    		<img src={{unbound "view.staticUrl"}}img/logo.png class="default" />
    	{{#each controller}}
    		<img src={{unbound image}} />
        {{/each}}
        </div>
        <div class="barousel_content">
        	<div class="default">
        		[any html content]
        	</div>
        	{{#each controller}}
            <div>
            	{{description}}
            </div>
            {{/each}}
        </div>
        <div class="barousel_nav">
        </div>
    </div>

    <div id="any_id" class="barousel account-container"> 
    </div>
</div>