<!--

Holds the html of the gallery
author: Doron Nachshon
copyright: nerdeez.com
version: 1.0

-->

<div class="gallery">
    <div id="ads-data">
        <div class="slider">
            {{#each controller}}
            <div class="slide"><img src={{unbound image}} /></div>
            {{/each}}
        </div>

        <div class="accordion">
            {{#each controller}}
            <div class="header">{{title}}</div>
            <div class="content">{{description}}</div>
            {{/each}}
        </div>
    </div>

    <div id="slidorion" class="slidorion">
    </div>
</div>