<div class="worker">
	<div class="row">
		<div class="span10">
			<div class="span3 trainer-info top-buffer">
				<div class="trainer-container">
					<div class="trainer-container-image">
						<img alt="Blake Gould" ng-src="https://s3.amazonaws.com/fitblok-s3-prod/media/pictures/users/user_46/profile/1362504441.jpg" style="width: 100%; height: 150px;" src="https://s3.amazonaws.com/fitblok-s3-prod/media/pictures/users/user_46/profile/1362504441.jpg">
					</div>
					<div class="trainer-container-name content_picture_title_grade_title">
						<h5 class="ng-binding"> Blake Gould </h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

