<div class="worker">
	<div class="row">
		<div class="span10 top-buffer">
			<div class="row">
				<div class="span2">
					<div class="avatar-container">
						<div class="avatar-image">
							<img alt="Doron Nachshon" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn1/229449_10150199380294382_2780511_n.jpg">
						</div>
						<div class="avatar-name">
							<h5> Doron Nachshon </h5>
						</div>
					</div>
				</div>

				<div class="span7 account-container worker-container">
					<div class="content">
						<div class="row">
							<div class="span3">
								<h2>Doron Nachshon</h2>
							</div>
						</div>
						<div class="row">
							<div class="description">
								<div class="span3">
									<p>Programmer</p>
								</div>	
							</div>
						</div>
						<div class="row">
							<div class="left-info pull-left span1">
								<p> Education </p>
							</div>
							<div class="right-info span5">
								<p> Education here </p>
							</div>
						</div>
						<div class="row">
							<div class="left-info pull-left span1">
								<p> Certifications </p>
							</div>
							<div class="right-info span5">
								<p> Certifications here </p>
							</div>
						</div>
						<div class="row">
							<div class="left-info pull-left span1">
								<p> Hometown </p>
							</div>
							<div class="right-info span5">
								<p> Tel Aviv, Israel </p>
							</div>
						</div>					
						<div class="row">
							<div class="left-info pull-left span1">
								<p> Introduction </p>
							</div>
							<div class="right-info span5">
								
								<p> This is the introduction area </p>

								<p> Write about yourself in this area </p>
								
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>


