
<div class="workers">
	<div class="row">
		<div class="span10">
			<ol class="workers-list">
				<li>
					<div class="workers-text">
						<h4>Yariv Katz</h4>
						<p>Info about Yariv</p>
					</div>
				</li>
				<li>
					<div class="workers-text">
						<h4>Doron Nachshon</h4>
						<p>Info about Doron</p>
					</div>
				</li>
			</ol>
		</div>
	</div>
</div>