<div class="worker">
	<div class="row">
		<div class="span10 top-buffer">
			<div class="row">
				<div class="span2">
					<div class="avatar-container">
						<div class="avatar-image">
							<img alt="Doron Nachshon" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn1/229449_10150199380294382_2780511_n.jpg">
						</div>
						<div class="avatar-name">
							<h5> Doron Nachshon </h5>
						</div>
					</div>
				</div>
				<div class="span7 offset1">
					<div class="row">
						<h2>Doron Nachshon</h2>
					</div>
					<div class="row">
						<div class="description">
							<p>Douchbag No.2</p>
						</div>
					</div>
					<div class="row">
						<div class="left-info pull-left span1">
							<p> Disciplines: </p>
						</div>
						<div class="right-info span6">
							<p> Body Weight, Boot Camp, Sports Performance, IGNITE 360, Trainer Education </p>
						</div>
					</div>
					<div class="row">
						<div class="left-info pull-left span1">
							<p> Certifications </p>
						</div>
						<div class="right-info span6">
							<p> Ignite360 Master Trainer, CSCS, USAW, IYCA SAS1 </p>
						</div>
					</div>
					<div class="row">
						<div class="left-info pull-left span1">
							<p> Hometown </p>
						</div>
						<div class="right-info span6">
							<p> Austin, TX </p>
						</div>
					</div>					
					<div class="row">
						<div class="left-info pull-left span1">
							<p> Introduction </p>
						</div>
						<div class="right-info span6">
							
							<p>
								Welcome to the Locker Room of Blake Gould. I am an independent contractor and owner of BG Fit.
							</p>
							<p>
								I am a 2006 graduate of Briar Cliff University in Sioux City, IA. I played football for the BCU Chargers and was a 3 year letter winner at the receiver/tight end position. I received a degree in Sports/Exercise Science with a minor in Psychology. Upon graduating, I was awarded as the 2006 Outstanding Sports Science Major award.
							</p>
							<p>
								After college, i moved to Lincoln, NE and worked at a PT Tech for a year and a half where I helped people of all ages recover from a variety of injuries. During my time in Lincoln, I volunteered as a football coach for 6th grade boys. It was during this time that I was training my best friend, and national champion golfer, that I realized training was my true calling.
							</p>
							
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>


